<a href="https://colab.research.google.com/github/Deepika-NRIdegree/Mini-project-1/blob/main/Working_with_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
from google.colab import drive

In [70]:
#mount the drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [71]:
import pandas as pd

In [72]:
DatasetPath = '/content/drive/MyDrive/retail_transactions.csv'

In [73]:
 df = pd.read_csv(DatasetPath)

In [74]:
df

,TransactionID,TransactionDate,StoreID,CustomerID,ProductID,ProductCategory,Quantity,Price,PaymentType,Discount
0,T001,2024-01-01,102,1646,545,Electronics,1,150,Credit,15.0
1,T002,2024-01-02,103,1226,542,Toys,2,317,Debit,10.0
2,T003,2024-01-03,102,1515,593,Electronics,5,165,Debit,NaN
3,T004,2024-01-04,103,1793,560,Furniture,6,496,Debit,10.0
4,T005,2024-01-05,105,1864,523,Grocery,10,166,Debit,0.0
...,...,...,...,...,...,...,...,...,...,...
95,T096,2024-04-05,101,1918,559,Apparel,2,439,Cash,10.0
96,T097,2024-04-06,104,1190,579,Electronics,4,52,Debit,0.0
97,T098,2024-04-07,102,1932,504,Apparel,7,151,Credit,10.0
98,T099,2024-04-08,103,1285,587,Apparel,5,479,Credit,10.0
99,T100,2024-04-09,101,1602,574,Electronics,5,247,Credit,15.0

In [75]:
from datetime import datetime

In [76]:
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])

In [77]:
df

,TransactionID,TransactionDate,StoreID,CustomerID,ProductID,ProductCategory,Quantity,Price,PaymentType,Discount
0,T001,2024-01-01,102,1646,545,Electronics,1,150,Credit,15.0
1,T002,2024-01-02,103,1226,542,Toys,2,317,Debit,10.0
2,T003,2024-01-03,102,1515,593,Electronics,5,165,Debit,NaN
3,T004,2024-01-04,103,1793,560,Furniture,6,496,Debit,10.0
4,T005,2024-01-05,105,1864,523,Grocery,10,166,Debit,0.0
...,...,...,...,...,...,...,...,...,...,...
95,T096,2024-04-05,101,1918,559,Apparel,2,439,Cash,10.0
96,T097,2024-04-06,104,1190,579,Electronics,4,52,Debit,0.0
97,T098,2024-04-07,102,1932,504,Apparel,7,151,Credit,10.0
98,T099,2024-04-08,103,1285,587,Apparel,5,479,Credit,10.0
99,T100,2024-04-09,101,1602,574,Electronics,5,247,Credit,15.0

In [78]:
print("First 15 rows of the DataFrame:")
print(df.head(15))

First 15 rows of the DataFrame:
   TransactionID TransactionDate  StoreID  CustomerID  ProductID  \
0           T001      2024-01-01      102        1646        545
1           T002      2024-01-02      103        1226        542
2           T003      2024-01-03      102        1515        593
3           T004      2024-01-04      103        1793        560
4           T005      2024-01-05      105        1864        523
5           T006      2024-01-06      103        1836        515
6           T007      2024-01-07      103        1983        586
7           T008      2024-01-08      101        1806        569
8           T009      2024-01-09      101        1925        548
9           T010      2024-01-10      101        1711        565
10          T011      2024-01-11      103        1276        565
11          T012      2024-01-12      101        1486        523
12          T013      2024-01-13      103        1597        516
13          T014      2024-01-14      101        1462        520
14          T015      2024-01-15      104        1668        581

   ProductCategory  Quantity  Price PaymentType  Discount
0      Electronics         1    150      Credit      15.0
1             Toys         2    317       Debit      10.0
2      Electronics         5    165       Debit       NaN
3        Furniture         6    496       Debit      10.0
4          Grocery        10    166       Debit       0.0
5          Grocery         9    227       Debit       NaN
6      Electronics         1    170      Credit       NaN
7             Toys         4    500       Debit       0.0
8          Apparel         7    217        Cash      10.0
9        Furniture         3    466       Debit       5.0
10       Furniture         1    321        Cash       NaN
11            Toys         8    426      Credit       5.0
12            Toys         5    262        Cash      15.0
13     Electronics        10    218        Cash       NaN
14            Toys         4    201       Debit      15.0

In [79]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TransactionID    100 non-null    object
 1   TransactionDate  100 non-null    datetime64[ns]
 2   StoreID          100 non-null    int64
 3   CustomerID       100 non-null    int64
 4   ProductID        100 non-null    int64
 5   ProductCategory  100 non-null    object
 6   Quantity         100 non-null    int64
 7   Price            100 non-null    int64
 8   PaymentType      100 non-null    object
 9   Discount         75 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(3)
memory usage: 7.9+ KB
None

In [81]:
print(df.describe())

           TransactionDate     StoreID   CustomerID   ProductID    Quantity  \
count                  100  100.000000   100.000000  100.000000  100.000000
mean   2024-02-19 12:00:00  102.730000  1552.520000  554.390000    5.370000
min    2024-01-01 00:00:00  101.000000  1013.000000  501.000000    1.000000
25%    2024-01-25 18:00:00  101.000000  1310.250000  529.750000    3.000000
50%    2024-02-19 12:00:00  103.000000  1534.000000  554.000000    5.500000
75%    2024-03-15 06:00:00  104.000000  1800.750000  579.500000    8.000000
max    2024-04-09 00:00:00  105.000000  1983.000000  600.000000   10.000000
std                    NaN    1.384291   268.295461   28.544098    3.013957

           Price   Discount
count  100.00000  75.000000
mean   282.15000   7.733333
min     50.00000   0.000000
25%    165.75000   2.500000
50%    280.00000  10.000000
75%    415.25000  12.500000
max    500.00000  15.000000
std    140.19938   5.652871

In [80]:
print(df.isnull().sum())

TransactionID       0
TransactionDate     0
StoreID             0
CustomerID          0
ProductID           0
ProductCategory     0
Quantity            0
Price               0
PaymentType         0
Discount           25
dtype: int64

In [82]:
df['Quantity'] = pd.to_numeric(df['Quantity'])
df['Price'] = pd.to_numeric(df['Price'])
df['Discount'] = pd.to_numeric(df['Discount'])

df['Discount'] = df['Discount'].fillna(0)

In [ ]:
df['NetPrice'] = df['Price'] * (1 - df['Discount'] / 100)

In [ ]:
df['NetPrice']

0    423.3
1    391.0
2    449.0
3    480.0
4    488.0
Name: NetPrice, dtype: float64

In [ ]:
  df['TotalSale'] = df['Quantity'] * df['NetPrice']

In [ ]:
df['TotalSale']

0    3809.7
1    3519.0
2    4490.0
3    4320.0
4    4880.0
Name: TotalSale, dtype: float64

In [ ]:
filtered_df = df[df['TotalSale'] >= 20]

In [ ]:
df

,index,TransactionID,TransactionDate,StoreID,CustomerID,ProductID,ProductCategory,Quantity,Price,PaymentType,Discount,NetPrice,AvgTotalSale,TotalSale
0,73,T074,2024-03-14,101,1312,560,Toys,9,498,Debit,15.0,423.3,3809.7,3809.7
1,65,T066,2024-03-06,102,1400,585,Furniture,9,391,Debit,0.0,391.0,3519.0,3519.0
2,46,T047,2024-02-16,103,1532,536,Furniture,10,449,Debit,0.0,449.0,4490.0,4490.0
3,33,T034,2024-02-03,104,1559,592,Furniture,9,480,Debit,0.0,480.0,4320.0,4320.0
4,56,T057,2024-02-26,105,1734,509,Toys,10,488,Cash,0.0,488.0,4880.0,4880.0

In [ ]:
filtered_df['PaymentType'] = filtered_df['PaymentType'].astype('category')

In [ ]:
df['PaymentType']

0    Debit
1    Debit
2    Debit
3    Debit
4     Cash
Name: PaymentType, dtype: category
Categories (3, object): ['Cash', 'Credit', 'Debit']

In [ ]:
grouped_df = filtered_df.groupby('ProductCategory').agg({
    'Quantity': 'sum',
    'TotalSale': 'sum'
})

In [ ]:
sorted_grouped_df = grouped_df.sort_values(by='TotalSale', ascending=False)

In [ ]:
top_3_categories = sorted_grouped_df.head(3)
print(top_3_categories)

                 Quantity  TotalSale
ProductCategory
Toys                  137   44326.35
Furniture             130   39655.55
Apparel               117   28055.35

In [ ]:
# productcatagory
multi_grouped_df = filtered_df.groupby(['StoreID', 'ProductCategory']).agg({
    'TotalSale': 'mean'
})

In [ ]:
highest_average_TotalSale_for_each_store = multi_grouped_df.reset_index().sort_values(['StoreID', 'TotalSale'], ascending=[True, False]).drop_duplicates('StoreID', keep='first')

In [ ]:
df['StoreID']

0    101
1    102
2    103
3    104
4    105
Name: StoreID, dtype: int64

In [ ]:
summary_df = highest_average_TotalSale_for_each_store.rename(columns={'TotalSale': 'AvgTotalSale'}).reset_index(drop=True)
print(summary_df)

   StoreID ProductCategory  AvgTotalSale
0      101            Toys   2227.016667
1      102       Furniture   2565.900000
2      103       Furniture   1560.771429
3      104       Furniture   1528.928571
4      105            Toys   4048.000000